{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Admin Dashboard</h1>
  <hr />

  <!-- About Section -->
  <section
    id="about-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>About Section</h2>
    <div class="text-right">
      <a href="{{ url_for('add_about') }}" class="btn btn-primary mb-3"
        >Add About</a
      >
    </div>
    <div style="display: flex; justify-content: flex-end; align-items: center">
      <form
        action="{{ url_for('edit_about') }}"
        method="POST"
        style="display: inline; margin-right: 10px"
      >
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
    </div>
  </section>
  <hr />

  <!-- Projects Section -->
  <section
    id="projects-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>Projects Section</h2>
    <div class="text-right">
      <a href="{{ url_for('add_project') }}" class="btn btn-primary mb-3"
        >Add a Project</a
      >
    </div>

    <!-- Form to enter project number -->
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="{{ url_for('select_project') }}">
          <div class="form-group">
            <label for="projectNumber">Enter Project Number</label>
            <input
              type="number"
              class="form-control"
              id="projectNumber"
              name="project_number"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Select Project</button>
        </form>
      </div>
    </div>

    <hr />

    <!-- Placeholder for project actions -->
    {% if project %}
    <div id="project-details">
      <h2>Selected Project: {{ project.project_name }}</h2>

      <a
        href="{{ url_for('edit_projects', project_id=project.project_id) }}"
        class="btn btn-warning"
        >Edit</a
      >
      <form
        action="{{ url_for('delete_project', project_id=project.project_id) }}"
        style="display: inline"
      >
        <button
          type="submit"
          class="delete-project btn btn-danger"
          data-project-id="{{ project.project_id }}"
        >
          Delete
        </button>
      </form>
    </div>
    {% endif %}
  </section>
  <hr />

  <!-- Blogs Section -->
  <section
    id="blogs-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>Blogs Section</h2>
    <div class="text-right">
      <a href="{{ url_for('create_blog') }}" class="btn btn-primary mb-3"
        >Write a Blog Post</a
      >
    </div>
    <!-- Form to enter blog number -->
    <div class="row">
      <div class="col-md-6">
        <form method="post" action="{{ url_for('select_blog') }}">
          <div class="form-group">
            <label for="blogNumber">Enter blog Number</label>
            <input
              type="number"
              class="form-control"
              id="blogNumber"
              name="blog_number"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Select blog</button>
        </form>
      </div>
    </div>
    <hr />
    <!-- Placeholder for blog actions -->
    {% if post %}
    <div id="blog-details">
      <h2>Selected Blog: {{ post.title }}</h2>

      <a
        href="{{ url_for('update_blog', blog_id=post.blog_id) }}"
        class="btn btn-warning"
        >Edit</a
      >
      <form
        action="{{ url_for('delete_blog', blog_id=post.blog_id) }}"
        style="display: inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
    {% endif %}
  </section>
  <hr />
  <!-- Form Submissions Section -->
  <section
    id="form-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>Form Submissions</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for visitor in visitors %}
        <tr>
          <td>{{ visitor.visitor_id }}</td>
          <td>{{ visitor.name }}</td>
          <td>{{ visitor.email }}</td>
          <td>{{ visitor.message }}</td>
          <td>{{ visitor.timestamp }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <br />
  <br />
  <br />
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/delete_blog.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_project.js') }}"></script>

{% endblock %} {% endblock %}
