{% extends "base.html" %}{% block title %} Admin {% endblock %}{% block content
%} {% extends "base.html" %} {% block title %}Admin Dashboard{% endblock %} {%
block content %}
<div class="container" style="text-align: center; margin-top: 50px">
  <h1>Admin Dashboard</h1>
  <div class="btn-group">
    <a
      href="{{ url_for('admin_dashboard') }}"
      class="btn btn-primary"
      style="margin: 10px"
      >Admin Dashboard</a
    >
    <a
      href="{{ url_for('admin_logout') }}"
      class="btn btn-danger"
      style="margin: 10px"
      >Logout</a
    >
  </div>
</div>
{% endblock %} {%endblock%}
