{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Admin Dashboard</h1>
  <hr />

  <!-- About Section -->
  <section
    id="about-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>About Section</h2>
    <div class="text-right">
      <a href="{{ url_for('add_about') }}" class="btn btn-primary mb-3"
        >Add About</a
      >
    </div>
    <div style="display: flex; justify-content: flex-end; align-items: center">
      <form
        action="{{ url_for('edit_about') }}"
        method="POST"
        style="display: inline; margin-right: 10px"
      >
        <button type="submit" class="btn btn-warning">Edit</button>
      </form>
    </div>
  </section>
  <hr />

  <!-- Projects Section -->
  <section
    id="projects-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>Projects Section</h2>
    <div class="text-right">
      <a href="{{ url_for('add_project') }}" class="btn btn-primary mb-3"
        >Add a Project</a
      >
    </div>

    <!-- Form to enter project number -->
    <div class="row">
      <div class="col-md-6">
        <form action="{{ url_for('select_project', project_id=0) }}">
          <div class="form-group">
            <label for="projectNumber">Enter Project Number</label>
            <input
              type="number"
              class="form-control"
              id="projectNumber"
              name="project_number"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Select Project</button>
        </form>
      </div>
    </div>
    <hr />

    <!-- Placeholder for project actions -->
    {% if project %}
    <div id="project-details">
      <h2>Selected Project: {{ project.project_name }}</h2>
      <!-- not working : js not loading -->
      <a
        href="{{ url_for('edit_projects', project_id=project.project_id) }}"
        class="btn btn-warning"
        >Edit</a
      >
      <form
        method="POST"
        action="{{ url_for('delete_project', project_id=project.project_id) }}"
        style="display: inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
    {% endif %}
  </section>
  <hr />

  <!-- Blogs Section -->
  <section
    id="blogs-section"
    style="border: 2px solid #000; padding: 15px; border-radius: 8px"
  >
    <h2>Blogs Section</h2>
    <div class="text-right">
      <a href="{{ url_for('create_blog') }}" class="btn btn-primary mb-3"
        >Write a Blog Post</a
      >
    </div>
    <!-- Form to enter blog number -->
    <div class="row">
      <div class="col-md-6">
        <form action="{{ url_for('select_blog', blog_id=0) }}" method="POST">
          <div class="form-group">
            <label for="blogNumber">Enter blog Number</label>
            <input
              type="number"
              class="form-control"
              id="blogNumber"
              name="blog_number"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Select blog</button>
        </form>
      </div>
    </div>
    <hr />
    <!-- Placeholder for project actions -->
    {% if post %}
    <div id="project-details">
      <h2>Selected Project: {{ post.title }}</h2>

      <a
        href="{{ url_for('update_blog', blog_id=post.blog_id) }}"
        class="btn btn-warning"
        >Edit</a
      >
      <form
        method="POST"
        action="{{ url_for('delete_blog', blog_id=post.blog_id) }}"
        style="display: inline"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
    {% endif %}
  </section>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='delete_blog.js') }}"></script>
<script src="{{ url_for('static', filename='delete_project.js') }}"></script>

{% endblock %} {% endblock %}
