{% extends "base.html" %} {% block title %}Add Project{% endblock %} {% block
content %}
<!-- <div class="container">
  <div class="text-right">
    <a href="{{ url_for('add_project') }}" class="btn btn-primary mb-3"
      >Add a Project</a
    >
  </div> -->
  <h1>Create New Project</h1>
  <form
    id="create-project-form"
    action="{{ url_for('add_project') }}"
    
  >
    <div class="form-group">
      <label for="project_name">Name</label>
      <input
        type="text"
        class="form-control"
        id="project_name"
        name="project_name"
        required
      />
    </div>
    <div class="form-group">
      <label for="project_summary">Summary</label>
      <textarea
        class="form-control"
        id="project_summary"
        name="project_summary"
        rows="3"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Project</button>
  </form>
</div>
{% block script %}
<script src="{{ url_for('static', filename='js/create_project.js') }}"></script>
{% endblock %}
{% endblock %} 
