{% extends "base.html" %} {% block content %}
<h1>Edit Project</h1>
<form id="edit-project-form">
  <!-- includes hidden input project.id in form -->
  <input
    type="hidden"
    id="project-id"
    name="project-id"
    value="{{ project.project_id }}"
  />

  <div class="form-group">
    <label for="project_name">Title</label>
    <input
      type="text"
      class="form-control"
      id="project_name"
      name="project_name"
      value="{{ project.project_name }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="project_summary">Content</label>
    <textarea
      class="form-control"
      id="project_summary"
      name="project_summary"
      rows="5"
      required
    >
{{ project.project_summary }}</textarea
    >
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %} {% block script %}

<script src="{{ url_for('static', filename='js/edit_project.js') }}"></script>
{% endblock %}
