{% extends "base.html" %} {% block content %}
<h1>Update Blog Post</h1>
<form id="update-blog-form">
  <!-- includes hidden input post.id in form -->
  <input type="hidden" id="post-id" name="post-id" value="{{ post.blog_id }}" />

  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="{{ post.title }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      name="content"
      rows="5"
      required
    >
{{ post.content }}</textarea
    >
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      value="{{ post.author }}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

{%block scripts%}
<script src="{{ url_for('static', filename='js/update_blog.js') }}"></script>
{%endblock%} {% endblock %}
