{% extends "base.html" %} {% block title %}Blogs{% endblock %} {% block content
%}
<h1>Welcome to the Blog</h1>
<!-- <div class="text-right">
  <a href="{{ url_for('create_blog') }}" class="btn btn-primary mb-3"
    >Write a Blog Post</a
  >
</div> -->
<hr />
<!-- Existing content for displaying blog posts or other information -->
{% if posts %}
<div class="list-group">
  {% for post in posts %}
  <div
    class="blog-post"
    action="{{ url_for('blog', id=post.blog_id) }}"
    style="
      border: 1px solid #ccc;
      padding: 15px;
      margin: 10px;
      border-radius: 5px;
    "
  >
    <h1 class="blog-title">{{ post.title }}</h1>
    <p class="blog-meta">
      <span><strong>Author:</strong> {{ post.author }}</span> |
      <span><strong>Date Created:</strong> {{ post.date_created }}</span>
    </p>
    <div class="blog-content">
      <p>{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{%else%}
<p>No blog posts available. Please check back later!</p>
{% endif %} {% endblock %}

<!-- features to include in future: view , add and delete comments  -->
